body{
    background: url('../images/black_lozenge.png');
    font-family: 'Roboto Condensed', sans-serif;
}

.jumbotron{
    background: url('https://c1.staticflickr.com/8/7282/9263924434_aba98b6249_b.jpg');
    background-size: cover; 
}

h1{
    font-family: 'Rubik Mono One', sans-serif;
}

#status{
    text-align: center;
    font-size: 20px;
    line-height: 20px;
}

.message{
    font-size: 20px;
    width:100%;
}

.row{
    margin-bottom: 15px;
}

.chatWindow{
    height: 300px;
    width:100%;
    overflow-y: scroll;
}

#chatTable{
    width: 100%;
}

#chatTable tr:nth-child(2n) {  
  background-color: #464545;
}

.gameButton{
    border-radius: 0px;
}

.highLighter{
    border: solid 3px #c9c9c9 !important;
}

.gameSprite{
    width: 100%;
}

.rockButton button{
    color: #dad45e;
}

.paperButton button{
    color: black;
}

.scissorsButton button{
    color: darkred;
}

@media only screen and (max-width: 1000px) {
    
    h1{
        font-size: 44px !important;
    }
}

@media screen and (min-width: 768px){

    .jumbotron {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}